button {
  -webkit-app-region: drag;
}

.playlist-input {
  width: 400px;
}

.folder-path {
  width: 600px;
}

.refresh-playlists {
  background: gray;
}

.app-container {
  padding: 20px;
  .folder-path-container {

    margin-top: 20px;
  }
}
